@import-normalize;

html {
  font-size: 10px;
  height: 100%;
}

body {

  min-height: 100vh;
  margin: 0;
  background-color: #4f6977;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  min-height: inherit;
  flex-direction: column;
  overflow: hidden;
  background-color: #ccc;
}